﻿@model DriveHappy.Data.ViewModel.OwnerCarViewModel

<div class="car-data container-fluid">
    <div class="car-data-content col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="car-add-head col-xs-12">
            Five Simple step to add your car
        </div>
        <div class="close-owner-car-add">
            <span>&times;</span>
        </div>
        <div class="car-add-body col-xs-12" data-tab="0">
            <div class="car-add-body-head col-xs-12 clear-padding">
                <div class="abs-horizontal-line"></div>
                <div class="col-xs-2  col-xs-offset-1 clear-padding">
                    <div class="form-circle active-form-circle">
                        <span class="fa fa-calendar "></span>
                    </div>
                </div>
                <div class="clock col-xs-2 clear-padding">
                    <div class="form-circle clock">
                        <span class="fa fa-clock-o"></span>
                    </div>
                </div>
                <div class="col-xs-2 clear-padding">
                    <div class="form-circle money">
                        <span class="fa fa-money"></span>
                    </div>
                </div>
                <div class="col-xs-2 clear-padding">
                    <div class="form-circle about-car">
                        <span class="fa fa-cab"></span>
                    </div>
                </div>
                <div class="col-xs-2 clear-padding">
                    <div class="form-circle Location">
                        <span class=" fa fa-map-marker"></span>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("OwnerCarAdd", "Owner", FormMethod.Post, new { @id = "ownerCar", novalidate = "novalidate" }))
            {
                <div class="car-add-body-calender car-tab col-xs-12 clear-padding">
                    <div class="car-add-body-container-head col-xs-12">
                        Your Car Will Be Available To Us (Date)
                    </div>
                    <div class="DateStatusMessage">

                    </div>
                    <div class="calender col-xs-12">
                        <div class="from-calender col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.FromDate, new { required="required", @class="from-date input-content", id="mytarget"})
                                <label class="label-add">From Date</label>
                                <div class="monthly" id="mycalendar"></div>
                            </div>
                        </div>
                        <div class="to-calender col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.ToDate, new { required = "required", @class = "to-date input-content", id = "mytargetTo" })
                                <label class="label-add">To Date</label>
                                <div class="monthly" id="mycalendarTo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-add-body-timming car-tab col-xs-12 clear-padding">
                    <div class="car-add-body-container-head col-xs-12">
                        Your Car Will Be Available To Us (Timing)
                    </div>
                    <div class="TimeStatusMessage">

                    </div>
                    <div class="calender col-xs-12">
                        <div class="from-timmer col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.FromTime, new { required = "required", @class = "from-time input-content timepicker", id = "timeFrom" })
                                <label class="label-add">From Time</label>
                            </div>
                        </div>
                        <div class="to-timmer col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.ToTime, new { required = "required", @class = "to-time input-content input-content timepicker", id = "timeTo" })
                                <label class="label-add">To Time</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-add-body-price car-tab col-xs-12 clear-padding">
                    <div class="car-add-body-container-head col-xs-12">
                        Your Car Pricing Structure
                    </div>
                    <div class="PriceStatusMessage">

                    </div>
                    <div class="calender col-xs-12">
                        <div class="hourly-pricing col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.HourlyPrice, new { required = "required", @class = "hourly-price input-content", id = "hourly-price" })
                                <label class="label-add">Hourly Price</label>
                            </div>
                        </div>
                        <div class="daily-pricing col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.DailyPrice, new { required = "required", @class = "daily-price input-content", id = "daily-price" })
                                <label class="label-add">Daily Price</label>
                            </div>
                        </div>
                        <div class="spl-day-pricing col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.SplDayPrice, new { required = "required", @class = "spl-day-price input-content", id = "spl-day-price" })
                                <label class="label-add">Holiday Price</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-add-body-car-data car-tab col-xs-12 clear-padding">
                    <div class="car-add-body-container-head col-xs-12">
                        Your Personal Car Data
                    </div>
                    <div class="CarStatusMessage">

                    </div>
                    <div class="calender col-xs-12">
                        <div class="plate-no col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.PlateNo, new { required = "required", @class = "plate-no-input input-content", id = "plate-no" })
                                <label class="label-add">Plate No</label>
                            </div>
                        </div>
                        <div class="car-brand col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.CarBrand, new { required = "required", @class = "car-brand-input input-content", id = "car-brand" })
                                <label class="label-add">Brand</label>
                            </div>
                            <div class="car-brand-hint">
                                
                            </div>
                        </div>
                        <div class="model-no col-xs-4">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.CarModel, new { required = "required", @class = "model-no-input input-content", id = "model-no" })
                                <label class="label-add">Model</label>
                            </div>
                            <div class="car-model-hint">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-add-body-pick-in-point car-tab col-xs-12 clear-padding">
                    <div class="car-add-body-container-head col-xs-12">
                        Your Car Will Be Available At Location
                    </div>
                    <div class="LocationStatusMessage">

                    </div>
                    <div class="calender col-xs-12">
                        <div class="city col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.City, new { required = "required", @class = "city-input input-content", id = "car-add-city" })
                                <label class="label-add">City</label>
                            </div>
                        </div>
                        <div class="location col-xs-6">
                            <div class="form-control">
                                @Html.TextBoxFor(m => m.Location, new { required = "required", @class = "city-input input-content", id = "car-add-city" })
                                <label class="label-add">Location</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="car-add-footer col-xs-2 col-xs-offset-5">
                    <div class="next-ico" action-url="@Url.Action("OwnerCarAdd","Owner")">
                        <span class="fa fa-chevron-right"></span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/CarDataScript.js"></script>