﻿@model DriveHappy.Data.ViewModel.UserViewModel

<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 clear-padding">
    <div class="login row">
        <button class="login-close" onclick="loginClose()"><span>&times;</span></button>
        <div class="login-header"> <span>Forget Password</span> </div>
        <div id="ErrorMessage" class="ErrorMessage"></div>
        @using (Html.BeginForm("DoForgetPassword", "Home", FormMethod.Post, new { onsubmit = "return validateAll()", @class = "forget-password-body" }))
        {
            <div class="login-content">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, null, new { @class = "text", autocomplete = "off", onblur = "valid(this)", id = "username" })
                    <label for="username" class="label-group">Username</label>
                    <div class="bar"> </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, null, new { @class = "text", autocomplete = "off", onblur = "valid(this)", id = "Email" })
                    <label for="email" class="label-group">Email</label>
                    <div class="bar"> </div>
                </div>
            </div>
            <div class="login-footer">
                <input type="submit" id="verify" value="Verify" class="btn-login" />
            </div>
        }
    </div>
</div>
<script src="~/Scripts/ForgetPasswordScript.js"></script>