﻿@if ((!string.IsNullOrEmpty(User.Identity.Name)) && ((Convert.ToBoolean(Session["IsOwner"])) || (Convert.ToBoolean(Session["IsUser"])) || (Convert.ToBoolean(Session["IsAdmin"]))))
{
    <div class="user-login-image pull-right col-sm-8 clear-padding">
        <div class="overlay-user-login">
            <div class="user-image-upload">
                <span class="fa fa-upload"></span>
            </div>
        </div>
    </div>
    <div class="user-identity-content col-xs-6 col-sm-4 pull-right">
        <div class="user-login-name">
            Hi, @User.Identity.Name
        </div>
        <div class="user-login-div">
            <div class="user-setting" id="profile-edit">Profile Edit</div>
            <div class="user-setting" id="logout">Logout</div>
        </div>
    </div>
}
else
{
    <ul class="top-bar-link">
        <li>
            <button class="top-bar-link-signUp" id="top-bar-link-signUp" onclick="addSignUp('@Url.Action("SignUp", "Home")')">SignUp</button>
        </li>
        <li>
            <button class="top-bar-link-login" id="top-bar-link-login" onclick="addLogin('@Url.Action("SignIn", "Home")')">Login</button>
        </li>
    </ul>
}
