﻿
@if (!string.IsNullOrEmpty(Session["UserId"] as string))
{
    if (Convert.ToInt32(Session["UserId"].ToString()) > 0)
    {
        <div class="display-reset-password-input">
            @Html.Partial("_ResetPasswordInput")
        </div>
    }
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script>
        $(document).ready(function () {
            //$(location).attr('href', 'home/home');
            $(location).load('home/home', function () {
                $(".overlay-login>#login-partial-content").append('.display-reset-password-input');
                $('.overlay-login>#login-partial-content').show('fast');
                $('.overlay-login').fadeIn(100);
            });
        });
    </script>
}
else
{
    <h2>400</h2>
    <h5>Bad Request</h5>
}
