﻿@model DriveHappy.Data.ViewModel.UserViewModel

<div class="reset-password-div col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 clear-padding">
    <div class="login row">
        <button class="login-close" onclick="loginClose()"><span>&times;</span></button>
        <div class="login-header"> <span>Reset Password</span> </div>
        <div id="ErrorMessage" class="ErrorMessage"></div>
            <div class="login-content">
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "text", autocomplete = "off", onblur = "valid(this)", id = "password" })
                    <label for="username" class="label-group">Password</label>
                    <div class="bar"> </div>
                </div>
                <div class="form-group">
                    <input type="password" class="text" autocomplete="off" onblur="valid(this)" id="confirm-password" />
                    <label for="email" class="label-group">Confirm Password</label>
                    <div class="bar"> </div>
                </div>
            </div>
            <div class="login-footer">
                <input type="submit" id="reset" value="Reset" class="btn-login" />
            </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/ResetPasswordInputScript.js"></script>