﻿@model DriveHappy.Data.ViewModel.SchedulerViewModel

<div class="search-box container-fluid">
    <div class="calendar-wrapper col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="scheduler-error"></div>
        <h1 class="text-center">When do you want it</h1>
        <div class="calender city row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="city-dropdown">
                    @Html.TextBoxFor(m => m.CityName, new { id="city", placeholder="City", @class="mytarget", autocomplete="off"})
                    <!--<input type="text" name="city" id="city" placeholder="City" class="mytarget" autocomplete="off"/>-->
                    <ul class="city-hint">
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="location-dropdown">
                    @Html.TextBoxFor(m => m.LocationName, new { id="location", placeholder="Location", @class="mytarget", autocomplete="off"})
                    <!--<input type="text" name="location" id="location" placeholder="Location" class="mytarget" autocomplete="off"/>-->
                    <ul class="location-hint">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="calender from row" id="from">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.FromDate, new { id="fromDate", placeholder="From Date", @class="mytarget"})
                <!--<input type="text" id="fromDate" placeholder="From Date" class="mytarget" />-->
                <div class="monthly" id="mycalendar"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.FromTime, new { id="fromTime", placeholder="From Time", @class="timepicker mytarget"})
                <!--<input type="text" name="timepicker" placeholder="From Time" class="timepicker mytarget" />-->
            </div>
        </div>
        <div class="calender to row" id="to">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.ToDate, new { id="toDate", placeholder="To Date", @class="mytarget"})
                <!--<input type="text" id="toDate" placeholder="To Date" class="mytarget" />-->
                <div class="monthly" id="mycalendar1"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.TextBoxFor(m => m.ToTime, new { id="toTime" ,placeholder="To Time", @class="timepicker mytarget"})
                <!--<input type="text" name="timepicker" placeholder="To Time" class="timepicker mytarget" />-->
            </div>
        </div>
        <div class="text-center">
            <button class="next" set-data="city" id="next" onclick=""><span class="fa fa-angle-right"></span></button>
        </div>
        <div class="calendar-footer-indicator"> <span class="city-indicator indicator-active" id="city-indicator"></span> <span class="from-indicator" id="from-indicator"></span> <span class="to-indicator" id="to-indicator"></span> </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/SchedulerScript.js"></script>