﻿@model DriveHappy.Data.ViewModel.LoginViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="login row">
                <button class="login-close" onclick="loginClose()"><span>&times;</span></button>
                <div class="login-header"> <span>Login</span> </div>
                <div id="ErrorMessage" class="ErrorMessage"></div>
                @using (Html.BeginForm("_DoLogin", "Home", FormMethod.Post, new { onsubmit = "return validateAll()" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="login-content">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Username, null, new { @class = "text", autocomplete = "off", onblur = "valid(this)", id = "username" })
                            <label for="username" class="label-group">Username</label>
                            <div class="bar"> </div>
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "text", autocomplete = "off", onblur = "valid(this)", id = "password" })
                            <label for="password" class="label-group">Password</label>
                            <div class="bar"> </div>
                        </div>
                    </div>
                    <div class="login-footer">
                        <a href='#' open-url='@Url.Action("ForgetPassword", "Home")' class="link-forgot-password" id="link-forget-password">Forgot Password?</a>
                        <input type="submit" id="submit" value="Login" class="btn-login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SignInScript.js"></script>