﻿@model DriveHappy.Data.ViewModel.UserViewModel

<div class="container-fluid">
    <div class="row">
        <div class="signup-add col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="add hidden-sm hidden-xs col-md-6 col-lg-7" id="choose-user" user-val="3">
                <div class="select-user-head">Choose your role</div>
                <div class="select-user col-xs-2 col-xs-offset-2"></div>
                <div class="make-user-signup col-xs-6">SignUp As User</div>
                <div class="select-owner col-xs-2 col-xs-offset-2"></div>
                <div class="make-owner-signup col-xs-6">SignUp As Owner</div>
            </div>
            
            <div class="overlay-signup-div col-lg-5 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="close-signup"><span>&times;</span></div>
                <div class="signup-head">
                    <h3>REGISTER ON DRIVEHAPPY</h3>
                </div>
                <div class="registration-error"></div>
                <div class="signup-content">
                    @Html.AntiForgeryToken()
                    <div class="signup-form-content">
                        <div class="form-control">
                            @Html.TextBoxFor(m => m.Email, new { @class="input-text",id="email", autocomplete="off" })
                            <label for="email" class="label">EMAIL</label>
                            <div class="signup-bar"></div>
                        </div>
                        <div class="form-control">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-text", id = "password", autocomplete = "off" })
                            <label for="password" class="label">PASSWORD</label>
                            <div class="signup-bar"></div>
                        </div>
                        <div class="form-control">
                            @Html.TextBoxFor(m => m.PhoneNo, new { @class = "input-text", id = "phone", autocomplete = "off" })
                            <label for="phone" class="label">PHONE</label>
                            <div class="signup-bar"></div>
                        </div>
                        <div class="form-control">
                            @Html.TextBoxFor(m => m.DOB, new { @class = "input-text", id = "dob", autocomplete = "off" })
                            <label for="dob" class="label">DOB (mm/dd/yyyy)</label>
                            <div class="signup-bar"></div>
                            <div id="date-calender"></div>
                        </div>
                        <div class="signup-submit">
                            <button class="btn-submit" id="btn-signup-submit">SIGNUP</button>
                        </div>
                    </div>
                </div>
                <div class="signup-footer"> <small>&copy;&nbsp;DriveHappy</small> </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SignUpScript.js"></script>