﻿@model DriveHappy.Data.ViewModel.UserCarViewModel

<div class="car-card-view col-md-4 col-sm-6 col-xs-12">
    <div class="wrapper">
        <div class="car-card-view-head container-fluid" style="background-image:url(@Model.CarPath)">
            <div class="overlay-card-view-head col-xs-12 clear-padding">
                <div class="car-card-view-head-content col-xs-12">
                    <div class="col-xs-4 clear-padding">
                        <small class="car-card-model car-card-content">@Model.CarName.ToUpper()</small>
                    </div>
                    <div class="car-card-seater-wrapper col-xs-6 col-xs-offset-2 clear-padding">
                        <img src="~/Content/AdminImage/safety-seat.png" class="car-card-ico" />
                        <div class="car-card-seater-div">
                            <small class="car-card-seater car-card-content">@Model.Seater</small>
                        </div>
                    </div>
                    <div class="col-xs-4 clear-padding">
                        <small class="car-card-brand car-card-content">@Model.BrandName.ToUpper()</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="car-card-view-body container-fluid">
            <div class="car-card-body-content col-xs-12 clear-padding">
                <img src="~/Content/AdminImage/petrol.png" class="car-card-body-ico" />
                <small class="car-card-fuel car-card-body-input-content">@Model.FuelType.ToUpper()</small>
            </div>
            <div class="car-card-body-content col-xs-6 clear-padding">
                <img src="~/Content/AdminImage/driving-gear-controls.png" class="car-card-body-ico" />
                <small class="car-card-transmission car-card-body-input-content">@Model.Transmission.ToUpper()</small>
            </div>
            <div class="car-card-body-content car-card-price-div col-xs-6 clear-padding pull-right">
                <span class="car-card-body-ico car-price fa fa-rupee"></span>
                <small class="car-card-price">@Model.CarPrice.ToString("#")</small>
            </div>
        </div>
        <div class="car-card-view-footer container-fluid">
            <div class="col-xs-12 clear-padding">
                <small class="car-card-category car-card-footer-input-content">@Model.CarCategory.ToUpper()</small>
            </div>
            <div class="col-xs-12 clear-padding">
                <button class="book-btn" id="book-btn" btn-id="@Model.OwnerCarId" onclick="bookCar(this)">BOOK</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/UserCarListingScript.js"></script>