﻿@using DriveHappy.Data.ViewModel;
@model List<UserCarViewModel>

<div class="add-car-details col-xs-12 clear-padding">
    @if ((Model != null) && (Model.Count != 0))
    {
        foreach (var car in Model)
        {
            @Html.Partial("_UserCarListing", car)
        }
    }
    else
    {
        @Html.Partial("_NoCarAdded");
    }
</div>
<div class="overlay-add-car container-fluid clear-padding">

</div>
<script src="~/Scripts/MyCarScript.js"></script>