﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
</head>
<body>
    <h3>Hi, @User.Identity.Name</h3>
    <div> 
        @using(Html.BeginForm("Logout","Home", FormMethod.Post))
        {
            <input type="submit" value="logout" />
        }
    </div>
</body>
</html>
