﻿@using DriveHappy.Data.ViewModel;
@model LoginViewModel

<!--
* File - Home.html
*
* Created By - Manoj Lenka
* Created On - 12/8/2016
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>DriveHappy Home</title>
    <!--
      Imported customized bootstrap that contain grid system, responsive utilities, print media styles and tables.
    -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--
      Imported Date picker stylesheet.
    -->
    <link href="~/ExternalPlugins/Monthly-master/css/monthly.css" rel="stylesheet" />
    <!--
      Imported Custom build stylesheet.
    -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!--
      Imported Time picker stylesheet.
    -->
    <link href="~/ExternalPlugins/wickedpicker-master/dist/wickedpicker.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial scale=1.0">
</head>
<body>
    <!--
      Login tab that will be displayed when login button is clicked.
    -->
    <div class="overlay-login" id="overlay-login">
        <div id="login-partial-content">
            @if (!string.IsNullOrEmpty(Session["UserIdChangePassword"] as string))
            {
                if (Convert.ToInt32(Session["UserIdChangePassword"].ToString()) > 0)
                {
                    @Html.Partial("_ResetPasswordInput")
                }
            }
        </div>
    </div>
    <!--
      SignUp tab that will be displayed when SignUp button is clicked.
    -->
    <div class="overlay-signup container-fluid clear-padding">

    </div>
    <!--
      This division contains heading with the background image and city, time entering option.
    -->
    <header class="header container-fluid" id="heading">
        <div class="backgroundImage">
            <div class="headerOverlay">
                <div class="top-bar">
                    <div class="dropdown col-sm-4 col-md-4 pull-right">
                        <div class="small-screen-right-ico pull-right">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="user-info-div">
                            @if ((!string.IsNullOrEmpty(User.Identity.Name)) && ((Convert.ToBoolean(Session["IsOwner"])) || (Convert.ToBoolean(Session["IsUser"])) || (Convert.ToBoolean(Session["IsAdmin"]))))
                            {
                                <div class="user-login-image pull-right col-sm-8 clear-padding">
                                    <div class="overlay-user-login">
                                        <div class="user-image-upload">
                                            <span class="fa fa-upload"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-identity-content col-xs-6 col-sm-4 pull-right">
                                    <div class="user-login-name">
                                        Hi, @User.Identity.Name
                                    </div>
                                    <div class="user-login-div">
                                        <div class="user-setting" id="profile-edit">Profile Edit</div>
                                        <div class="user-setting" id="logout">Logout</div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <ul class="top-bar-link">
                                    <li>
                                        <button class="top-bar-link-signUp" id="top-bar-link-signUp" onclick="addSignUp('@Url.Action("SignUp", "Home")')">SignUp</button>
                                    </li>
                                    <li>
                                        <button class="top-bar-link-login" id="top-bar-link-login" onclick="addLogin('@Url.Action("SignIn", "Home")')">Login</button>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
                @Html.Partial("_Scheduler")
            </div>
        </div>
    </header>
    <!--
      This section contains features of facilities provided by the DriveHappy.
    -->
    <section class="content container-fluid">
        <div class="Contents-facilities row">
            <div class="facilities-heading col-xs-12">
                <div class="facilities-heading1">Just drive in your own way.</div>
                <div class="facilities-heading2">To Simplify we provide these services.</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/road2.png" />
                    </div>
                    <div class="facility-content">Unlimited KMs</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/piggybank.png" />
                    </div>
                    <div class="facility-content">No hidden charge</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/tollbooth.png" />
                    </div>
                    <div class="facility-content">Just remember to pay tolls on toll gate</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/tool.png" />
                    </div>
                    <div class="facility-content">Just put the fuel and have a long journey</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/Accident1.png" />
                    </div>
                    <div class="facility-content">Damage Insurance</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="facilities-group">
                    <div class="facility-icon">
                        <img src="~/Content/images/key1.svg" />
                    </div>
                    <div class="facility-content">Wish you a happy journey.</div>
                </div>
            </div>
        </div>
    </section>
    <!--
      This section contains footer of the DriveHappy that contains quotation and copyright.
    -->
    <footer class="footer-box container-fluid">
        <div class="footer-content row"> </div>
        <div class="footer-end row">
            <div class="text-center"> Speed thrills but it kills. </div>
            <br />
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <!--
      Imported plugin of date picker
    -->
    <script src="~/ExternalPlugins/Monthly-master/js/monthly.js"></script>
    <!--
      Imported plugin of time picker
    -->
    <script src="~/ExternalPlugins/wickedpicker-master/dist/wickedpicker.min.js"></script>
    <!--
      Imported custom build javascript file
    -->
    <script src="~/Scripts/HomeScript.js"></script>
</body>
</html>