﻿@model DriveHappy.Data.ViewModel.UserViewModel

@{
    ViewBag.Title = "Home";
}
<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>DriveHappy Welcomes You</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/UserStyle.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/ExternalPlugins/Monthly-master/css/monthly.css" rel="stylesheet" />
    <link href="~/ExternalPlugins/wickedpicker-master/dist/wickedpicker.min.css" rel="stylesheet" />
</head>
<body>
    <div class="overlay-login">
        <div id="login-partial-content"></div>
    </div>
    <header class="container-fluid">
        <div class="small-screen-ico">
            <span class="hidden-small-screen-ico fa fa-bars"></span>
        </div>
        <div class="site-name col-xs-12 col-md-2">
            DriveHappy
        </div>
        <div class="user-search col-xs-12 col-sm-8 col-md-5 col-md-offset-1">
            <div class="user-car-search col-xs-10 clear-padding">
                <input type="text" class="search-input" />
            </div>
            <div class="search-ico-div col-xs-2 clear-padding">
                <button class="search-ico"><span class="fa fa-search"></span></button>
            </div>
            <div class="user-search-hint col-xs-12 clear-padding">

            </div>
        </div>
        <div class="dropdown col-sm-4 col-md-4 clear-padding">
            <div class="small-screen-right-ico pull-right">
                <span class="fa fa-user"></span>
            </div>
            <div class="user-info-div">
                @Html.Action("Login","Home")
            </div>
        </div>
    </header>
    <aside class="aside col-xs-12 col-sm-3 col-md-2">
        <div class="aside-filters">
            @if (Convert.ToBoolean(Session["IsOwner"]))
            {
                <ul class="owner">
                    <li class="owner-text" id="my-cars"><div class="select-list">MY CARS</div></li>
                    <li class="owner-text" id="bookings"><div class="select-list">BOOKINGS</div></li>
                </ul>
            }
            else if (Convert.ToBoolean(Session["IsUser"]))
            {

            }
            <ul class="my-ride">
                <li class="user-text" id="home">
                    <div class="select-list">
                        HOME
                    </div>
                </li>
                <li class="user-text">
                    <div class="select-list">
                        MY RIDES
                    </div>
                </li>
            </ul>
            <p>FILTERS</p>
            <ul class="filter-type">
                <li class="filter-text">
                    <div class="select-list">Category</div>
                    <ul class="hidden-filter hidden-category">
                        <li class="hidden-text">SUV</li>
                        <li class="hidden-text">Sedan</li>
                        <li class="hidden-text">Hatch back</li>
                        <li class="hidden-text">Luxury</li>
                    </ul>
                </li>
                <li class="filter-text">
                    <div class="select-list">Fuel</div>
                    <ul class="hidden-filter hidden-fuel">
                        <li class="hidden-text">Petrol</li>
                        <li class="hidden-text">Diesel</li>
                        <li class="hidden-text">Electric</li>
                        <li class="hidden-text">Solar</li>
                    </ul>
                </li>
                <li class="filter-text">
                    <div class="select-list">
                        Transmission
                    </div>
                    <ul class="hidden-filter hidden-transmission">
                        <li class="hidden-text">Manual</li>
                        <li class="hidden-text">Auto</li>
                        <li class="hidden-text">Dual</li>
                    </ul>
                </li>
                <li class="filter-text">
                    <div class="select-list">
                        Seater
                    </div>
                    <ul class="hidden-filter hidden-seater">
                        <li class="hidden-text">5</li>
                        <li class="hidden-text">4</li>
                        <li class="hidden-text">2</li>
                        <li class="hidden-text">7</li>
                    </ul>
                </li>
                <li class="filter-text">
                    <div class="select-list">
                        Price
                    </div>
                    <ul class="hidden-filter hidden-price">
                        <li class="hidden-text">Low To High</li>
                        <li class="hidden-text">High to Low</li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
    <section class="modify col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2"></section>
    <div class="hint-template hidden container-fluid clear-padding" id="" attr-data="">
        <div class="hint col-xs-12">
            <div class="car-search-head col-md-4 col-xs-6 clear-padding">
                <div class="car-img-search pull-left"></div>
                <div class="car-search-name-data">
                    <small class="brand-name"></small>
                    <small class="car-name"></small>
                </div>
            </div>
            <div class="car-content-data col-md-8 col-xs-6 clear-padding">
                <div class="car-search-seater col-xs-3 clear-padding"></div>
                <div class="car-search-fuel col-xs-3 clear-padding"></div>
                <div class="car-search-transmission col-xs-3 clear-padding"></div>
                <div class="car-search-category col-xs-3 clear-padding"></div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/OwnerScript.js"></script>
    <script src="~/ExternalPlugins/wickedpicker-master/dist/wickedpicker.min.js"></script>
    <script src="~/ExternalPlugins/Monthly-master/js/monthly.js"></script>
</body>
</html>