.car-page-next, .car-page-previous
{
  border: 1px solid #0B4F6C;
  color: #0B4F6C;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  font-weight: 700;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.car-page-next:hover, .car-page-previous:hover
{
  background-color: #0B4F6C;
  color: #FFF;
}

.car-page-previous
{
  margin-right: 5px;
  margin-left: 5px;
}

.car-page
{
  text-align: right;
  padding: 0 15px 15px 15px;
  color: #000000;
}

.car-start-page
{
  width: 30px;
  text-align: center;
  border: 1px solid #FFF;
}

.car-start-page:hover,.car-start-page:focus
{
  border: 1px solid #000000;
}

.car-end-page
{
  padding-left: 5px;
}

.overlay-verify-car
{
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
}

.unverifiedRow
{
    background-color: #e36588;
}

.verifiedRow
{
    background-color: #99edcc;
}

.car-card-view-head-owner
{
    position: relative;
    height: 300px;
    background: #333;
    background-image: url(images/car-add.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.car-card-view-head-content-owner
{
  margin-top: 240px;
}

.close-container
{
  position: absolute;
  z-index: 1;
  right: 20px;
  top: -5px;
}

.close-ico
{
  font-size: 25px;
  color: #FFF;
  cursor: pointer;
}

.close-ico:hover
{
  color: #ef798a;
}

.car-card-verify
{
  margin-top: 75px;
}

.footer-reject, .footer-verify
{
  cursor: pointer;
  padding: 10px !important;
  text-align: center;
  color: #FFF;
  font-weight: 700;
  font-size: 20px;
}

.footer-verify
{
  background-color: #23ce6b;
}

.footer-verify:hover
{
  background-color: #018e42;
}

.footer-reject
{
  background-color: #ef798a;
}

.footer-reject:hover
{
  background-color: #c96675;
}

.handle-view
{
  margin-top: 70px;
}

.brand-name
{
    clear: both;
}

.car-card-view-footer
{
  text-align: center;
  padding: 10px;
  background-color: #F6F6F6;
}

.car-card-footer-input-content
{
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.car-card-model
{
  font-size: 18px;
}

.car-card-seater-wrapper
{
  text-align: right;
}

.car-card-ico
{
  width: 32px;
}

.car-card-body-input-content
{
  font-size: 12px;
  color: #605c4e;
}

.car-card-body-ico
{
  width: 24px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-seater-div
{
  background-color: transparent;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #CCC;
  border-radius: 50%;
  display: inline-block;
}

.car-card-seater
{
  font-size: 14px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-view-head-content
{
  margin-top: 110px;
}

.overlay-card-view-head
{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.car-card-view-head
{
  position: relative;
  height: 180px;
  background: #333;
  background-image: url(images/car-add.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.car-card-view-body
{
  padding-top: 15px;
  padding-bottom: 15px; 
}

.car-card-body-content
{
  margin: 7px 0;
}

.wrapper
{
  background-image: url(images/geometry2.png);
  margin-bottom: 15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.no-car
{
  display: block;
}

.ErrorCarAddition
{
  text-align: center;
  color: #de1a1a;
  position: absolute;
  top: -22px;
}

.body-label
{
  position: absolute;
  top: 7px;
  left: 9px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.input-text:focus~.body-label
{
  top: -20px;
  left: 0;
  color: #326273;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.overlay .label {
    color: #CCC;
    text-transform: uppercase;
    font-size: 12px;
}

.car-pic
{
    display: none;
}

.input-text
{
  padding-left: 9px;
}

.active-add-car-label
{
  top:-20px !important;
  left:0 !important;
}

.close-car-add
{
  position: absolute;
  top: -7px;
  right: 5px;
  font-size: 28px;
  color: #FFF;
  z-index: 1;
  font-weight: 700;
  cursor: pointer;
}

.close-car-add:hover
{
  color: #e87461;
}

.input-text:focus~.label
{
  top: -20px;
  left: 0;
  color: #FFF;
}

.form-control
{
  position: relative;
}

.label
{
  transition: all 0.6s ease-in-out;
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: 600;
  pointer-events: none;
}

.add-car-save
{
  width: 100%;
  height: 35px;
  background-color: #30323D;
  margin-bottom: 20px;
  border:0;
  margin-top: 10px;
  border-radius: 3px;
  color: #00cc99;
}

.add-car-save:hover
{
  background-color: #00CC99;
  color: #30323D;
}

.input-car-brand, .input-car-name, .input-car-seater
{
  height: 40px;
  margin-bottom: 30px;
  width: 100%;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #666;
  color: #FFF;
}

.input-car-seater
{
  margin-bottom: 10px;
}

.car-image-left
{
  clear: both;
}

.add-car-data
{
  margin-top: 50px;
  background-image: url(images/geometry2.png);
}

.add-car-head
{
  position: relative;
  width: 100%;
  height: 280px;
  background-image: url(images/car-add.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 30px;
}

.upload-ico
{
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.upload-car-pic
{
  height: 72px;
  width: 72px;
  border: 0;
  font-size: 24px;
  color: #00CC44;
  border: 1px solid #00CC44;
  background: transparent;
  border-radius: 50%;
}

.add-car-body
{
  
}

.add-car-footer
{
  text-align: center;
}

.input-car-category, .input-car-fuel, .input-car-transmission
{
  width: 100%;
  border: 0;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #BBB;
  margin-bottom: 30px;
}

.input-car-category
{
    margin-bottom: 10px;
}

body
{
  font-family: 'Segoe UI';
  margin:0;
}

*
{
  outline: none !important;
}

.clear-padding {
  padding: 0;
}

.content
{
  overflow-y: auto;
  position: fixed;
  background-color: #30323d;
  top:0;
  bottom:0;
}

.content-profile
{
  background-image: url(../Content/AdminImage/congruent_pentagon.png);
}

.profile-overlay {
  padding:20px;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.side-bar-toggle
{
  display: none;
  background-color: transparent;
  border: 0;
  color: #4D5061;
  font-size: 18px;
  height: 45px;
  width: 45px;
  position: absolute;
}

.pic
{
  position: relative;
  border: 2px solid #4d5061;
  background-color: #4d5061;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  margin:auto;
  background-image: url(../Content/AdminImage/male-user.png);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.pic-overlay
{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.upload-pic
{
  height: 50px;
  width: 50px;
  margin-top: 32.5px;
  background-color: transparent;
  border: 2px solid #E8C547;
  border-radius: 25px;
  color: #E8C547;
}

.upload-car-pic:hover
{
  background-color: #00CC44;
  color: #FFF;
}

.user-info
{
  width:100%;
  position:relative;
  padding: 0 24px;
}

.info
{
  display: inline-block;
}

.info-button, .logout-button
{
  margin-top: 20px;
  border:0;
  height: 45px;
  width: 45px;
  padding:8px;
  border-radius: 5px;
  background-color: #4d5061;
  color: #e8c547;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.info-button:hover, .logout-button:hover
{
  background-color:#E8C547;
  color:#4d5061;
  
}

.logout
{
  float:right;
}

.user-name
{
  clear:both;
  text-align: center;
  color: #FFF;
  font-size: 18px;
}

.function-data
{
  display: block;
  padding:20px;
}

.admin-function
{
  margin:0;
  padding:0;
  list-style: none;
}

.function
{
  color: #DDD;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.function:hover
{
  background-color: #e8c547;
  color: #FFF;
}

.active-function
{
  color: #FFF;
  border-left: 5px solid #9e8631;
  background-color: #e8c547;
}

.admin-search
{
  position: sticky;
  padding:10px;
  background-color: #4D5061;
  text-align:center;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

.admin-search button {
  width: 100%;
  height: 40px;
  background-color: #30323D;
  color: #E8C547;
  border:0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 18px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}

.admin-search button:hover
{
  color:#30323D;
  background-color:#E8C547;
}

.search-box
{
  padding: 0px 15px;
  width: 100%;
  background-color: #30323D;
  border: 0px;
  height: 40px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #FFF;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.home-partial-view
{
  display: none;
}

.appdata-partial-view
{
  display: none;
}

.pellet-wrapper {
  margin-top:20px;
}

.city,.car,.owner {
  height: 100px;
  border-radius: 3px;
}

.city {
  background-color: #85cb33;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.city:hover
{
  box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}

.car {
  background-color: #0b4f6c;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.car:hover
{
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.owner {
  background-color: #dd6031;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.owner:hover
{
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.city-count, .car-count, .owner-count
{
  font-size: 48px;
  float:left;
  line-height:100px;
  height:100%;
  font-weight: 100;
  background-color:transparent;
  border-right: 2px solid rgba(0,0,0,0.1);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color:#FFF;
}

.city-name, .car-name, .owner-name
{
  height:100%;
  line-height: 100px;
  color:#FFF;
  font-size: 14px;
  background-color:transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.table-view
{
  display: block;
  overflow-y: auto;
  margin-top:30px;
  clear:both;
}

.table-bordered > thead > tr > th {
  border-top-width: 0px;
  padding: 12px 15px;
  border-bottom-width: 0px;
}

.city-head {
  color: #FFF;
  background-color: #85cb33;
}

.car-head
{
  color: #FFF;
  background-color: #0B4F6C;
}

.owner-head
{
  color: #FFF;
  background-color: #DD6031;
}

.table thead th {
  border-color:rgba(0,0,0,0.1) !important;
}

.city-view
{
  display: none;
}

.car-view
{
  display: none;
}

.owner-view
{
  display: none;
}

.active-view
{
  display: block;
}

.active-tab
{
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.footer-content
{
  position: absolute;
  padding: 15px 0px;
  width: 100%;
  margin: 0px -20px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5061;
  bottom:0;
  text-align: center;
}

/*-----*/

.car-meta, .location, .role
{
  height: 180px;
  color: #FFF;
  cursor: pointer;
  padding:10px;
  border-radius: 5px;
  background-color:#DDD;
  text-align: center;
}

.car-meta
{
  background-color: #DD6031;
  transition: all 0.2s ease-in-out;
}

.location
{
  transition: all 0.2s ease-in-out;
  background-color: #0B4F6C;
}

.role
{
  transition: all 0.2s ease-in-out;
  background-color: #85cb33;
}

.location-hidden-content
{
  display: none;
}

.location-head-content
{
  font-weight: 600;
  font-size: 18px;
}

.location-heading-content
{
  font-weight: 600;
  font-size: 18px;
}

.location-head
{
  color: #8C8C8C;
  text-align: center;
  margin-bottom: 10px;
}

.location-first-head
{
  margin-top: 50px;
}

.location-input-dropdown
{
  border: 1px solid #DDD;
  border-radius: 3px 0 0 3px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
}

.location-add-category
{
  border: 1px solid #DDD;
  border-radius: 3px 0 0 0;
  border-bottom: 0;
  height: 35px;
  width: 100%;
  padding: 0 10px;
}

.location-dropdown-button
{
  color: #FFF;
  border-radius: 0 3px 3px 0;
  background-color: #0B4F6C;
  width: 100%;
  border: 0;
  height: 35px;
}

.location-dropdown-button:hover
{
  background-color: #062836;
}

.location-add-button
{
  color: #FFF;
  border-radius: 0 3px 0 0;
  background-color: #0B4F6C;
  width: 100%;
  border: 0;
  height: 35px;
}

.location-add-button:hover
{
  background-color: #062836;
}

.location-input-content
{
  border: 1px solid #DDD;
  border-radius: 0 0 3px 3px;
  height: 86px;
  overflow: auto;
}

.location-small-tab
{
  border-radius: 3px;
  height: 32px;
  display: inline-block;
  border: 1px solid #062836;
  margin: 5px;
  padding: 0 0 0 3px;
  background-color: #0B4F6C;
  color: #FFF;
}

.location-close-small-tab
{
  font-size: 16px;
  font-weight: bold;
  background-color: #0B4F6C;
  border: 0;
  padding-bottom: 3px;
  height: 30px;
}

.location-close-small-tab:hover
{
  background-color: #062836;
}


.location-save-btn-content
{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0B4F6C;
  border: 1px solid #062836;
  border-radius: 3px;
  width: 100%;
  color: #FFF;
  height: 35px;
}

.location-save-btn-content:hover
{
  background-color: #062836;
}

.ErrorLocationMessage
{
  height: 20px;
  text-align: center;
}

.car-meta:hover, .location:hover, .role:hover
{
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.active-appdata-tab
{
  box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

.img-application-data
{
  padding:0 0 10px 0;
  margin-left: auto;
}

.img-application-data img
{
  width: 130px;
}

.car-meta-partial-view
{
  margin-top: 10px;
}

.choice
{
  margin:0;
  border: 1px solid rgba(175, 68, 29, 1);
  border-radius: 3px;
  padding:0;
  list-style: none;
  text-align: center;
}

.list-view
{
  padding:12px 0px;
  border: 1px solid rgba(175, 68, 29, 1);
  cursor: pointer;
  background-color: #DD6031;
  color: #FFF;
}

.list-view:hover
{
  background-color: rgba(175, 68, 29, 1);
}

.active-list-view
{
  background-color: rgba(175, 68, 29, 1);
}

.add-category
{
  border: 1px solid #DDD;
  border-radius: 3px 0 0 0;
  border-bottom: 0;
  height:35px;
  width: 100%;
  padding: 0 10px;
}

.add-button
{
  color: #FFF;
  border-radius: 0 3px 0 0;
  background-color: #DD6031;
  width: 100%;
  border: 0;
  height: 35px;
}

.add-button:hover
{
  background-color: rgba(175, 68, 29, 1);
}

.car-meta-add-ico
{
  text-align: center;
}

.car-meta-category-content
{
  margin-top:50px;
}

.car-meta-head
{
  color: #8C8C8C;
  text-align: center;
  margin-bottom: 10px;
}

.car-meta-head-content
{
  font-weight: 600;
  font-size: 18px;
}

.car-meta-input-content
{
  border: 1px solid #DDD;
  border-radius: 0 0 3px 3px;
  height: 86px;
  overflow: auto;
}

.car-small-tab
{
  border-radius: 3px;
  height: 32px;
  display: inline-block;
  border: 1px solid rgba(175, 68, 29, 1);
  margin: 5px;
  padding: 0 0 0 3px;
  background-color: #DD6031;
  color: #FFF;
}

.car-close-small-tab
{
  font-size: 16px;
  font-weight: bold;
  background-color: #DD6031;
  border: 0;
  padding-bottom: 3px;
  height: 30px;
}

.close-small-tab:hover
{
  background-color: rgba(175, 68, 29, 1);
}
.save-btn-content
{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #DD6031;
  border: 1px solid rgba(175, 68, 29, 1);
  border-radius: 3px;
  width: 100%;
  color: #FFF;
  height: 35px;
}

.save-btn-content:hover
{
  background-color: rgba(175, 68, 29, 1);
}

.role-add
{
  margin-top: 60px;
}

.role-add-category
{
  border: 1px solid #DDD;
  border-radius: 3px 0 0 0;
  border-bottom: 0;
  height:35px;
  width: 100%;
  padding: 0 10px;
}

.role-add-button
{
  color: #FFF;
  border-radius: 0 3px 0 0;
  background-color: #85CB33;
  width: 100%;
  border: 0;
  height: 35px;
}

.role-add-button:hover
{
  background-color: #558321;
}

.role-add-ico
{
  text-align: center;
}

.role-category-content
{
  margin-top:50px;
}

.role-head
{
  color: #8C8C8C;
  text-align: center;
  margin-bottom: 10px;
}

.role-head-content
{
  font-weight: 600;
  font-size: 18px;
}

.role-input-content
{
  border: 1px solid #DDD;
  border-radius: 0 0 3px 3px;
  height: 86px;
  overflow: auto;
}

.role-small-tab
{
  border-radius: 3px;
  height: 32px;
  display: inline-block;
  border: 1px solid #558321;
  margin: 5px;
  padding: 0 0 0 3px;
  background-color: #85CB33;
  color: #FFF;
}

.role-close-small-tab
{
  font-size: 16px;
  font-weight: bold;
  background-color: #85CB33;
  border: 0;
  padding-bottom: 3px;
  height: 30px;
}

.role-close-small-tab:hover
{
  background-color: #558321;
}
.role-save-btn-content
{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #85CB33;
  border: 1px solid #558321;
  border-radius: 3px;
  width: 100%;
  color: #FFF;
  height: 35px;
}

.role-save-btn-content:hover
{
  background-color: #558321;
}

.RoleErrorMessage
{
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
  display: block;
  height: 20px;
}

.CarMetaErrorMessage
{
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
  display: block;
  height: 20px;
}

.location-hint
{
  display: none;
  z-index:1;
  position: relative;
}

.location-hint-content
{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 0;
  margin-top:0;
  height: 120px;
  overflow: auto;
}

.location-hint-text
{
  padding: 5px;
  color: #FFF;
  font-weight: 600;
  background-color: #0B4F6C;
  cursor: pointer;
}

.location-hint-text:hover
{
  background-color: #062836;
}

.location-hidden-content
{
  margin-top: 20px;
}

.car-add-btn
{
  z-index: 1;
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 35px;
  border: 0;
  background-color: #d62828;
  color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.car-add-btn:hover
{
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}

.no-car-figure
{
  margin-top: 56px;
  text-align: center;
  z-index: -1;
  margin-bottom: 24px;
}

.no-car-figure figcaption
{
  font-size: 24px;
  font-weight: 100;
  text-shadow: 4px 2px 4px rgba(0,0,0,0.4);
}

.no-car-figure img
{
  opacity: 0.1;
}

.overlay-add-car
{
  display: none;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

/*-----*/
@media (max-width:768px)
{
  .content
  {
    position:relative !important;
  }
  
  .side-bar-toggle
  {
    display: block;
  }
  
  .function-data
  {
    display: none;
  }
  
  .car-meta-category-content
  {
    margin-top:10px;
  }
}
