﻿body
{
  margin: 0;
  font-family: "Segoe UI";
}

.pricing-structure {
  background-color: #FFF;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 15px;
}

.pricing-structure-head
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.car-booking-details
{
  padding: 30px 15px;
  //background-color: #fdfdfd;
}

.book-car-img
{
  padding-right: 15px;
  width: 100%;
}

.book-user-data
{
  margin-top: 50px;
  clear: both;
  padding: 15px 0 !important;
  border-radius: 2px;
  background-color: #64b6ac;
  color: #FFF;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.4);
}

.book-car-user-data
{
  background-color: #FFF;
    margin-top: 15px;
  color: #666;
  font-size: 14px;
  border: 1px solid #EEE;
  padding: 15px 0 !important;
  text-align: center;
}

.book-user-head
{
  text-align: center;
}

.form-control
{
  margin-top: 25px;
  position: relative;
}

.user-input
{
  border: 0;
  height: 40px;
  width: 100%;
  border-radius: 0px;
  padding-left: 8px;
  color: #888;
}

.user-label
{
  position: absolute;
  left: 24px;
  top: 10px;
  transition: all 0.3s ease-in-out;
  color: #AAA;
  pointer-events: none;
}
.total-journey-time
{
  text-align: center;
}

.user-input:focus~.user-label
{
  left: 18px;
  top: -20px;
  color: #FFF;
}

.total-journey-time
{
  margin-bottom: 15px;
}

.book-payment-head, .pricing-structure-head
{
  text-align: center;
  font-size: 18px;
}

.price
{
  font-size: 18px;
  margin-bottom: 15px;
}

.checkout-btn
{
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  font-weight: 700;
  color: #64b6ac;
  border: 1px solid #64b6ac;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
}

.checkout-btn:hover
{
  background-color: #64b6ac;
  color: #FFF;
}
.clear-padding
{
  padding: 0;
}
  
.book-car-payment-data
{
  background-color: #FFF;
  border: 1px solid #EEE;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
  border-radius: 3px;
}
    
.amount
{
  text-align: right;
}
.book-car-brand
{
  font-size: 24px;
  color: #666;
  font-weight: 400;
}
.book-car-model
{
  color: #888;
}
.book-car-location
{
  color: #666;
}

.book-car-price
{
  margin-top: 15px;
  font-size: 18px;
}