.city-hint-text:hover, .location-hint-text:hover
{
  background-color: #64b6ac;
  color: #FFF;
  font-size: 14px;
}

.select-user-head
{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 15px;
}

.select-owner, .select-user
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #395C6B;
  background-color: transparent;
  clear: both;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selected-user
{
  background-color: #395C6B;
}

.select-owner:hover, .select-user:hover
{
  background-color: #395C6B;
}

.make-owner-signup, .make-user-signup
{
  margin: 20px 0;
  font-weight: 500;
  font-size: 18px;
}

.select-user
{
  margin-top: 40px;
}

.make-user-signup
{
  margin-top: 45px;
}

.small-screen-ico
{
  cursor: pointer;
  position: absolute;
  display: none;
  z-index: 2;
  color: #FFF;
}

.small-screen-ico:hover
{
  color: #6baa75;
}

.small-screen-right-ico
{
  display: none;
  color: #FFF;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.small-screen-right-ico:hover
{
  color: #6baa75;
}

.dropdown
{
  position: relative;
  padding: 15px 15px;
}

.search-input
{
  height: 40px;
  width: 100%;
  border:0;
  border-radius: 3px 0 0 3px;
  padding: 0px 10px;
}

.user-search
{
  box-shadow: 0px 3px 7px rgba(0,0,0,0.4);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.site-name
{
    padding-bottom: 15px;
    padding-top: 15px;
}

.search-ico
{
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  color: #666;
  background-color: #FFF;
  background: #17a398;
  color: #FFF;
}

.search-ico:hover
{
  background-color: #11766E;
}

.user-info-div
{
    text-align: right;
}


.user-identity-content
{
  position: relative;
}

.user-identity-content
{
  position: relative;
}

.user-identity-content:hover .user-login-div
{
  display: block;
}

.user-login-name
{
  position: relative;
  cursor: pointer;
  padding-top: 20px;
  font-size: 15px;
  color: #FFF;
}

.user-login-div
{
  display: none;
  background-color: #FFF;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  position: absolute;
  right: 10px;
  text-align: center;
}

.user-setting
{
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.user-setting:hover {
    background-color: #17A398;
    color: #FFF;
}

.user-login-image
{
  display: block;
  position: relative;
  background-image: url(UserImage/male-user.png);
  background-position: center;
  background-color: #4d5359;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay-user-login
{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
}

.user-image-upload
{
  box-sizing: border-box;
  display: block;
  color: #09bc8a;
  width: 60%;
  line-height: 70px;
  font-size: 18px;
}

.user-login-image:hover .overlay-user-login
{
  display: block;
}
/*------------------------------------------------------------------*/

.scheduler-error
{
  color: #DF5D5F;
  position: absolute;
  top: 5px;
  width: 85%;
  text-align: center;
}

.car-card-view-footer
{
  text-align: center;
  padding: 10px;
  background-color: #F6F6F6;
}

.car-card-footer-input-content
{
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.car-card-model
{
  font-size: 18px;
}

.car-card-seater-wrapper
{
  text-align: right;
}

.car-card-ico
{
  width: 32px;
}

.car-card-body-input-content
{
  font-size: 12px;
  color: #605c4e;
}

.car-card-body-ico
{
  width: 24px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-seater-div
{
  background-color: transparent;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #CCC;
  border-radius: 50%;
  display: inline-block;
}

.car-card-seater
{
  font-size: 14px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-view-head-content
{
  margin-top: 110px;
}

.overlay-card-view-head
{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.car-card-view-head
{
  position: relative;
  height: 180px;
  background: #333;
  background-image: url(images/car-add.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.car-card-view-body
{
  padding-top: 15px;
  padding-bottom: 15px; 
}

.car-card-body-content
{
  margin: 7px 0;
}

/*------------------------------------------------------------------------*/
.city-dropdown, .location-dropdown
{
  position: relative;
}
.city-hint, .location-hint
{
  cursor: pointer;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  background-color: #FFF;
  position: absolute;
  width: 100%;
}

section
{
  background-color: #84a08c;
}

body {
  margin: 0;
  font-family: "Segoe UI";
}

.overlay-login {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(59, 52, 31, 0.5);
}

.login {
  position: relative;
  background-color: #FFF;
  border-radius: 7px;
  margin-top: 120px;
}

.login-header {
  padding: 15px;
  background-color: #FFF;
  color: #FFF;
  font-size: 30px;
  margin-bottom: 20px;
  color: #a5cbc3;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.login-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #FFF;
  height: 30px;
  width: 30px;
  font-size: 18px;
  color: #a5cbc3;
  font-weight: 700;
  border: 1px solid #a5cbc3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 0px 0px 3px 0px;
  transition: all 0.2s ease-in-out;
}

.login-close:hover {
  background-color: #a5cbc3;
  color: #FFF;
}

.ErrorMessage
{
  text-align: center;
  color: #d95d39;
  height: 10px;
}

.login-content {
  padding: 10px 30px;
}

.form-group {
  position: relative;
  margin-bottom: 40px;
}

.text {
  width: 100%;
  background-color: transparent;
  padding: 12px;
  border: 0;
  border-bottom: 1px solid #a5cbc3;
}

.label-group {
  z-index: 1;
  color: #a5cbc3;
  position: absolute;
  left: 12px;
  top: 16px;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 12px;
}

.text:focus ~label {
  color: #000;
  top: -20px;
  left: 0px;
  font-size: 11px;
  color: #a5cbc3;
}

.active-label
{
  color: #000;
  top: -20px;
  left: 0px;
  font-size: 11px;
  color: #a5cbc3;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  bottom: 0px;
  background-color: #a5cbc3;
  transition: all 0.6s ease-in-out;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.text:focus ~.bar:before,
.text:focus ~.bar:after {
  width: 50%;
}

.login-footer {
  float: left;
  width: 100%;
  background-color: #a5cbc3;
  padding: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.btn-login {
  float: right;
  background-color: #FFF;
  border-radius: 3px;
  border: 0;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  height: 45px;
  width: 200px;
  background-color: #b7e2d9;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.btn-login:hover {
  color: #FFF;
  background-color: #8cada6;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.link-forgot-password {
  color: #FFF;
  vertical-align: middle;
  line-height: 45px;
  font-size: 12px;
  font-weight: 600;
}

.overlay-signup
{
  display: none;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
}

.close-signup
{
  position: absolute;
  right: 10px;
  top:0;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.close-signup:hover
{
  color: #d33f49;
}

.registration-error
{
  position: absolute;
  color: #d33f49;
  width: 100%;
  text-align: center;
}

.activeLabel
{
  color: #1e3888;
  top:8px !important;
  left: 0 !important;
}

.signup-add
{
  margin-top: 120px ;
  padding: 0px;
}

.add
{
  border-radius: 4px 0 0 4px;
  background-image: url(images/sativa.png);
  height: 371.4px;
}

.overlay-signup-div
{
  background-color: #FFF;
  position: relative;
  padding: 10px 10px 40px 10px;
  margin-top: -20px;
  border-radius: 4px;
  margin-bottom: -20px;
}

.signup-head>h3
{
  margin: 10px 0;
}

.signup-head, .signup-footer
{
  text-align: center;
}

.form-control
{
  position: relative;
}

.input-text{
  width: 100%;
  height: 35px;
  position: relative;
  margin-top: 30px;
  border: 0;
  border-bottom: 1px solid #395c6b;
  padding: 0 0 0 10px;
}

.label
{
  position: absolute;
  color: #999;
  top: 38px;
  left: 10px;
  transition: all .6s ease-in-out;
  pointer-events:none;
}

.signup-bar:before, .signup-bar:after
{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #395c6b;
  transition: all 0.6s ease-in-out;
}

.signup-bar:before
{
  left: 50%;
}

.signup-bar:after
{
  right: 50%;
}

.input-text:focus~.signup-bar:before,
.input-text:focus~.signup-bar:after
{
  width:50%;
}

.input-text:focus~.label
{
  color: #1e3888;
  top:8px;
  left: 0;
}

.signup-form-content
{
  width: 90%;
  margin: 0 auto;
}

::-moz-selection 
{ 
    color: #000000;
    background: #dff8eb;
}

.btn-submit
{
  width: 100%;
  margin-top: 20px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid #272727;
  border-radius: 3px;
  background-color: #395c6b;
  color: #FFF;
  transition: all 0.4s ease-in-out;
}

.btn-submit:hover
{
  background-color: #1e3139;
}

.signup-footer
{
  position: absolute;
  bottom: 5px;
  left: 40%;
}


.backgroundImage {
  position: relative;
  background-image: url("images/backgroundCar.jpg");
  width: 100%;
  background-size: cover;
  height: 600px;
}

.header {
  padding: 0px;
}

.headerOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-bar-link {
  position: sticky;
  margin: 0px;
  padding: 20px 40px;
  list-style: none;
  float: right;
}

.top-bar-link li {
  display: inline-block;
}

.top-bar-link button
{
  background-color: transparent;
}

.top-bar-link button:hover {
  background-color: #FFF;
  color: #000;
}

.top-bar-link button {
  display: inline-block;
  margin: 10px;
  padding: 10px 25px;
  font-family: Segoe UI;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.top-bar {}

.search-box {
  clear: both;
  margin-top: 200px;
  text-align: center;
}

.calender {
  display: block;
  position: relative;
}

.city {
  display: block;
}

.from {
  display: none;
}

.to {
  display: none;
}

.mytarget {
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #DDD;
  height: 50px;
  background: transparent;
  color: #EEE;
  font-weight: bold;
  font-size: 16px;
  font-family: "Segoe UI";
  width: 100%;
}

.monthly {
  width: 250px;
  top: 50px;
  left: 24px;
  z-index: 1;
}

.calendar-wrapper {
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.4);
}

.calendar-wrapper h1 {
  color: #FFF;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
}

.next {
  margin-top: 30px;
  background: transparent;
  border: 2px solid #00CC44;
  height: 45px;
  width: 45px;
  color: #00cc44;
  font-size: 20px;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.next:hover {
  background-color: #00cc44;
  color: white;
}

.calendar-footer-indicator span {
  margin-top: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
}

.indicator-active {
  background-color: #FFF;
}

.Contents-facilities {
  float: left;
  position: relative;
  padding: 40px 20px;
  background-color: #84a08c;
}

.facilities-heading {
  background-color: #84a08c;
  text-align: center;
  font-weight: 300;
  color: #FFF;
}

.facilities-heading1 {
  margin: 40px auto 10px auto;
  font-size: 36px;
}

.facilities-heading2 {
  margin: 25px auto;
  font-size: 22px;
}

.facilities-group {
  margin-top: 15px;
  position: relative;
  border: 1px solid #DDD;
  padding: 20px;
  background-color: #FFF;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  box-sizing: padding-box;
}

.facility-icon {
  position: relative;
  box-sizing: padding-box;
}

.facility-icon img 
{
  margin: 0 40%;
  width: 70px;
}

.facility-content {
  box-sizing: padding-box;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

.footer-box {
  clear: both;
  padding: 0 20px;
  background-color: #274131;
}

.footer-end {
  font-size: 24px;
  padding: 20px;
  text-align: right;
  font-weight: 100;
  color: #FFF;
}

@media(max-width:768px) {
  .mytarget {
    margin-top: 15px;
  }
}