﻿.car-brand-hint, .car-model-hint
{
  position: absolute;
  width: 80%;
  z-index: 1;
  background-color: #FFF;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin-left: 8px;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.car-brand-hint-text:hover, .car-model-hint-text:hover
{
  color: #FFF;
  background-color: #00CC44;
}

.CarStatusMessage
{
  position: absolute;
  width: 100%;
  color: #fb3640;
  top: -20px;
  text-align: center;
}

.select-user-head
{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}
 
.hint {
     width: 100%;
     padding: 7px;
     cursor: pointer;
 }

.hint:hover {
    background-color: #0f2a2e;
    color: #FFF;
}

.car-content-data
{
  line-height: 42px;
}

.car-search-name-data {
  height: 42px;
}

.brand-name, .car-name{
  display: block;
  height: 21px;
}

.car-img-search {
    width: 72px;
    height: 42px;
    background-size: cover;
    background-position: center;
}
/*--------------*/

.hidden
{
    display: none;
}
.user-search
{
  position: relative;
}

.user-search-hint
{
  display: none;
  background-color: #FFF;
  margin-top: 1px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  top: 40px;
}

.show
{
  display: block;
}
.selected-hint
{
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.selected-hint:hover
{
  background-color: #335c67;
  color: #FFF;
}
/*--------------------------------------------------------------------*/
.text:focus ~label {
  color: #000;
  top: -20px;
  left: 0px;
  font-size: 11px;
  color: #a5cbc3;
}
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  bottom: 0px;
  background-color: #a5cbc3;
  transition: all 0.6s ease-in-out;
}
.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.text:focus ~.bar:before,
.text:focus ~.bar:after {
  width: 50%;
}
.overlay-login {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 52, 31, 0.5);
}
.login {
    position: relative;
    background-color: #FFF;
    border-radius: 7px;
    margin-top: 120px;
}
.login-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #FFF;
    height: 30px;
    width: 30px;
    font-size: 18px;
    color: #a5cbc3;
    font-weight: 700;
    border: 1px solid #a5cbc3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 0px 0px 3px 0px;
    transition: all 0.2s ease-in-out;
}
.login-header {
    padding: 15px;
    background-color: #FFF;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 20px;
    color: #a5cbc3;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.ErrorMessage {
    text-align: center;
    color: #d95d39;
    height: 10px;
}
.login-content {
    padding: 10px 30px;
}
.form-group {
    position: relative;
    margin-bottom: 40px;
}
.text {
    width: 100%;
    background-color: transparent;
    padding: 12px;
    border: 0;
    border-bottom: 1px solid #a5cbc3;
}
.label-group {
    z-index: 1;
    color: #a5cbc3;
    position: absolute;
    left: 12px;
    top: 16px;
    transition: all 0.4s ease-in-out;
    font-weight: 600;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 12px;
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.login-footer {
    float: left;
    width: 100%;
    background-color: #a5cbc3;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.link-forgot-password {
    color: #FFF;
    vertical-align: middle;
    line-height: 45px;
    font-size: 12px;
    font-weight: 600;
}
.btn-login {
    float: right;
    background-color: #FFF;
    border-radius: 3px;
    border: 0;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    height: 45px;
    width: 200px;
    background-color: #b7e2d9;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}
.btn-login:hover {
    color: #FFF;
    background-color: #8cada6;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}
.login-close:hover {
    background-color: #a5cbc3;
    color: #FFF;
}
.active-label
{
  color: #000;
  top: -20px;
  left: 0px;
  font-size: 11px;
  color: #a5cbc3;
}
/*-----------------------------------*/
.top-bar-link {
  position: sticky;
  margin: 0px;
  padding: 5px 0 0 0;
  list-style: none;
  float: right;
}

.scheduler-error
{
  color: #DF5D5F;
  position: absolute;
  top: 5px;
  width: 85%;
  text-align: center;
}

.top-bar-link li {
  display: inline-block;
}

.top-bar-link button
{
  background-color: transparent;
}

.top-bar-link button:hover {
  background-color: #FFF;
  color: #000;
}

.top-bar-link button {
  display: inline-block;
  margin: 10px;
  padding: 10px 25px;
  font-family: Segoe UI;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.city-dropdown, .location-dropdown
{
  position: relative;
}
.city-hint, .location-hint
{
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.location-hint-text:hover,.city-hint-text:hover
{
  background-color: #17A398;
  color: #FFF;
}

.book-btn
{
  width: 100%;
  height: 35px;
  border: 0;
  background-color: #D62828;
  margin-top: 5px;
  color: #FFF;
  border-radius: 3px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.book-btn:hover
{
  background-color: #961C1C;
}

.car-card-price-div
{
  text-align: right;
}
.car-price
{
  color: #D62828;
  text-align: right;
  font-size: 25px !important;
}
.car-card-price
{
  font-size: 15px !important;
}
/* --Scheduler CSS */
.search-box {
  clear: both;
  margin-top: 70px;
  text-align: center;
}

.calender {
  display: block;
  position: relative;
}

.city {
  display: block;
}

.from {
  display: none;
}

.to {
  display: none;
}

.mytarget {
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #CCC;
  height: 50px;
  background: transparent;
  color: #666;
  font-weight: bold;
  font-size: 16px;
  font-family: "Segoe UI";
}

.monthly {
  width: 250px;
  top: 50px;
  left: 24px;
  z-index: 1;
}

.calendar-wrapper {
    display:none;
  padding: 30px 50px;
  background: #FFF;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
}

.calendar-wrapper h1 {
  color: #666;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 32px;
}

.next {
  margin-top: 30px;
  background: transparent;
  border: 2px solid #00CC44;
  height: 45px;
  width: 45px;
  color: #00cc44;
  font-size: 20px;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.next:hover {
  background-color: #00cc44;
  color: white;
}

.calendar-footer-indicator span {
  margin-top: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #CCC;
  border-radius: 10px;
  cursor: pointer;
}

.indicator-active {
  background-color: #BBB;
}

.add-car-details
{
  margin-top: 15px;
}
/* Scheduler CSS-- */
.modify-search
{
  background-color: #1E555C;
}

.modify-search-result
{
  font-weight: 200;
  padding: 0;
  color: #FFF;
}

.modify-btn
{
  background-color: #17a398;
  border: 0px;
  border-radius: 3px;
  color: #FFF;
  line-height: 40px;
  margin: 15px 0;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.modify-btn:hover
{
  background-color: #11766E;
}

.user-identity-content
{
  position: relative;
}

.user-identity-content
{
  position: relative;
}

.user-identity-content:hover .user-login-div
{
  display: block;
}

.user-login-name
{
  position: relative;
  cursor: pointer;
}

.user-login-div
{
  display: none;
  background-color: #FFF;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  position: absolute;
  right: 10px;
  text-align: center;
}

.user-setting
{
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.user-setting:hover
{
  background-color: #17A398;
  color: #FFF;
}

.close-owner-car-add
{
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.close-owner-car-add:hover
{
  color: #e85d75;
}

#mycalendar
{
    z-index: 2 !important;
}

.wickedpicker
{
    z-index: 2 !important
}

.display-block
{
    display: block !important;
}

.abs-horizontal-line {
    position: absolute;
    height: 1px;
    top: 23px; 
    background-color: #DDD;
    width: 100%;
    z-index: 0;
}

.active-form-circle {
    background-color: #00CC44 !important;
    color: #FFF !important;
}

.car-tab
{
    display: none;
}

.input-content
{
   color: #000000;
  border: 0;
  border-bottom: 1px solid #111111;
  padding: 7px;
  background-color: transparent;
  font-size: 16px;
  width: 90%;
}

.input-content:focus~.label-add, .input-content:valid~.label-add
{
  top: -20px;
  left: 10px;
  color: #2b4570;
}

.active-input
{
  top: -20px !important;
  left: 10px !important;
  color: #2b4570 !important;

}

.car-data-content
{
  margin-top: 130px;
  background-color: #FFF;
  text-align: center;
  padding: 15px;
}

.next-ico
{
  border: 0px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #7daf9c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color:  #FFF;
}

.next-ico:hover
{
  background-color: #23967f;
}

.car-add-head
{
  margin-bottom: 15px;
  font-size: 24px;
}

.form-circle
{
   margin: 0px auto;
  border: 1px solid #00CC44;
  background-color: #FFF;
  text-align: center;
  height: 45px;
  width: 45px;
  line-height: 42px;
  border-radius: 50%;
  color: #00CC44;
}

.car-add-body-head {
    margin-top: 20px;
    margin-bottom: 20px;
}

.car-add-body-container-head
{
  margin-bottom: 15px;
  font-size: 18px;
}

.calender
{
  font-size: 16px;
  margin-bottom: 15px;
}

.car-add-footer
{
  margin-bottom: 15px;
}

body 
{
  margin: 0;
  padding:0;
  font-family: 'Segoe UI';
}

header
{
  text-align: center;
  padding: 5px;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #1e555c;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.aside
{
  position: fixed;
  top:0;
  bottom:0;
  overflow-y: auto;
  border: 0px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: #5b6c5d;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.clear-padding
{
  padding: 0;
}

.small-screen-ico
{
  cursor: pointer;
  position: absolute;
  display: none;
  z-index: 2;
  color: #FFF;
}

.small-screen-ico:hover
{
  color: #6baa75;
}

.small-screen-right-ico
{
  display: none;
  color: #FFF;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.small-screen-right-ico:hover
{
  color: #6baa75;
}

.dropdown
{
  position: relative;
}

.search-input
{
  height: 40px;
  width: 100%;
  border:0;
  border-radius: 3px 0 0 3px;
  padding: 0px 10px;
}

.user-search
{
  box-shadow: 0px 3px 7px rgba(0,0,0,0.4);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.site-name
{
    padding-bottom: 15px;
    padding-top: 15px;
}

.search-ico
{
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 0 3px 3px 0;
  font-size: 18px;
  color: #666;
  background-color: #FFF;
  background: #17a398;
  color: #FFF;
}

.search-ico:hover
{
  background-color: #11766E;
}

.user-info-div
{
    text-align: right;
}

.user-login-name
{
    font-size: 18px;
    display: block;
    margin-top: 20px;
    color: #FFF;
}

.user-login-image
{
  display: block;
  position: relative;
  background-image: url(UserImage/male-user.png);
  background-position: center;
  background-color: #4d5359;
  background-repeat: no-repeat;
  background-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay-user-login
{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  border-radius: 50%;
}

.user-image-upload
{
  box-sizing: border-box;
  display: block;
  color: #09bc8a;
  width: 60%;
  line-height: 70px;
  font-size: 18px;
}

.user-login-image:hover .overlay-user-login
{
  display: block;
}

.hidden-filter
{
  display: none;
  border-top: 0;
}

ul
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.select-list
{
  cursor: pointer;
  list-style: none;
  line-height: 35px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.select-list:hover
{
  background-color: #59c9a5;
  padding-left: 10px;
  color: #FFF;
}

.hidden-text
{
  cursor: pointer;
  list-style: none;
  line-height: 35px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
  background-color: #F5F5F5;
}

.hidden-text:hover
{
  background-color: #59c9a5;
  padding-left: 10px;
  color: #FFF;
}

.active-li
{
  border-left: 5px solid #7ba799;
  background-color: #59c9a5;
  padding-left: 10px;
  color: #FFF;
}

p
{
  font-weight: 700;
  padding: 0;
}

.site-name
{
  font-size: 24px;
  font-family: precious;
  color: #FFF;
}

.modify
{
  padding: 0 0 35px 0;
}

.form-control
{
  position: relative;
  display: block;
}

.modify-text
{
  height: 35px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #DDD;
  padding: 0 0 0 5px;
  font-size: 16px;
  font-weight: 200;
}

.label-add
{
  position: absolute;
  top: 8px;
  left: 20px;
  pointer-events: none;
  color: #888888;
  transition: all 0.5s ease-in-out;
}


.label
{
  position: absolute;
  top: 8px;
  left: 20px;
  pointer-events: none;
  color: #888888;
  transition: all 0.5s ease-in-out;
}

.modify-text:focus~.label
{
  top: -20px;
  left: 15px;
  color: #061a40;
}

.car-card-view-footer
{
  text-align: center;
  padding: 10px;
  background-color: #F6F6F6;
}

.car-card-footer-input-content
{
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.car-card-model
{
  font-size: 18px;
}

.car-card-seater-wrapper
{
  text-align: right;
}

.car-card-ico
{
  width: 32px;
}

.car-card-body-input-content
{
  font-size: 12px;
  color: #605c4e;
}

.car-card-body-ico
{
  width: 24px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-seater-div
{
  background-color: transparent;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #CCC;
  border-radius: 50%;
  display: inline-block;
}

.car-card-seater
{
  font-size: 14px;
}

.car-card-content
{
  color: #FFF;
}

.car-card-view-head-content
{
  margin-top: 110px;
}

.overlay-card-view-head
{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.car-card-view-head
{
  position: relative;
  height: 180px;
  background: #333;
  background-image: url(images/car-add.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.car-card-view-body
{
  padding-top: 15px;
  padding-bottom: 15px; 
}

.car-card-body-content
{
  margin: 7px 0;
}

.for-height
{
  margin-top: 15px;
}

.wrapper
{
  background-image: url(images/geometry2.png);
  margin-bottom: 15px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.no-car
{
  display: block;
}

.no-car-figure
{
  margin-top: 56px;
  text-align: center;
  z-index: -1;
  margin-bottom: 24px;
}

.no-car-figure figcaption
{
  font-size: 24px;
  font-weight: 100;
  text-shadow: 4px 2px 4px rgba(0,0,0,0.4);
}

.no-car-figure img
{
  opacity: 0.1;
}

.car-add-btn
{
  z-index: 1;
  position: fixed;
  bottom: 24px;
  right: 24px;
  height: 70px;
  width: 70px;
  font-size: 24px;
  border-radius: 35px;
  border: 0;
  background-color: #d62828;
  color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.car-add-btn:hover
{
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
}

.overlay-add-car
{
  display: none;
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}
/*-------------------------------------------------------------------*/
.close-signup
{
  position: absolute;
  right: 10px;
  top:0;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.close-signup:hover
{
  color: #d33f49;
}

.registration-error
{
  position: absolute;
  color: #d33f49;
  width: 100%;
  text-align: center;
}

.activeLabel
{
  color: #1e3888;
  top:8px !important;
  left: 0 !important;
}

.signup-add
{
  margin-top: 120px ;
  padding: 0px;
}

.add
{
  border-radius: 4px 0 0 4px;
  background-image: url(images/sativa.png);
  height: 371.4px;
}

.overlay-signup-div
{
  background-color: #FFF;
  position: relative;
  padding: 10px 10px 40px 10px;
  margin-top: -20px;
  border-radius: 4px;
  margin-bottom: -20px;
}

.signup-head>h3
{
  margin: 10px 0;
}

.signup-head, .signup-footer
{
  text-align: center;
}

.input-text{
  width: 100%;
  height: 35px;
  position: relative;
  margin-top: 30px;
  border: 0;
  border-bottom: 1px solid #395c6b;
  padding: 0 0 0 10px;
}

.DateStatusMessage
{
  position: absolute;
  top: -15px;
  width: 100%;
  color: #f25757;
}

.label {
    position: absolute;
    color: #999;
    top: 40px;
    left: 10px;
    transition: all .6s ease-in-out;
    pointer-events: none;
}

.signup-bar:before, .signup-bar:after
{
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #395c6b;
  transition: all 0.6s ease-in-out;
}

.signup-bar:before
{
  left: 50%;
}

.signup-bar:after
{
  right: 50%;
}

.input-text:focus~.signup-bar:before,
.input-text:focus~.signup-bar:after
{
  width:50%;
}

.input-text:focus~.label
{
  color: #1e3888;
  top:8px;
  left: 0;
}

.signup-form-content
{
  width: 90%;
  margin: 0 auto;
}

.select-owner, .select-user
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #395C6B;
  background-color: transparent;
  clear: both;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selected-user
{
  background-color: #395C6B;
}

.select-owner:hover, .select-user:hover
{
  background-color: #395C6B;
}

.make-owner-signup, .make-user-signup
{
  margin: 20px 0;
  font-weight: 600;
  font-size: 18px;
}

.select-user
{
  margin-top: 90px;
}

.make-user-signup
{
  margin-top: 95px;
}

::-moz-selection 
{ 
    color: #000000;
    background: #dff8eb;
}

.btn-submit
{
  width: 100%;
  margin-top: 20px;
  padding: 8px;
  font-weight: 600;
  border: 1px solid #272727;
  border-radius: 3px;
  background-color: #395c6b;
  color: #FFF;
  transition: all 0.4s ease-in-out;
}

.btn-submit:hover
{
  background-color: #1e3139;
}

.signup-footer
{
  position: absolute;
  bottom: 5px;
  left: 40%;
}

/*-------------------------------------------------------------------*/
@font-face
{
  font-family: precious;
  src: url(../fonts/Precious.ttf);
}

.dropdown
{
  position: relative;
}

@font-face
{
    font-family: black-rose;
    src: url(../fonts/Allura-Regular.otf);
}

@media(max-width: 1600px)
{
  .aside, .modify
  {
    top: 80px;
  }
}

@media(max-width: 992px)
{
  .aside, .modify
  {
    top: 144px;
  }
}

@media(max-width:768px)
{
  #city
  {
    margin-bottom: 5px;
  }

  .mytarget
  {
    width: 100%;
  }

  .aside, .modify
  {
    top: 144px;
  }
  .timepicker
  {
    margin-top: 10px;
  }
  .aside
  {
    position: relative !important;
    display: none;
  }
  .small-screen-ico, .small-screen-right-ico
  {
    display: block;
  }
  .dropdown
  {
    position: absolute;
    top: 5px;
    right: 15px;
  }
  .dropdown:hover .user-info-div
  {
    display: block;
  }
  .user-info-div
  {
    display: none;
    position: absolute;
    background-color: #23967f;
    top: 20px;
    right: 0px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  .user-login-div
  {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media(max-width: 296px)
{
  .aside, .modify
  {
    top: 250px;
  }
}

@media(max-width: 199px)
{
  .aside, .modify
  {
    top: 320px;
  }
}