﻿@using DriveHappy.Data.ViewModel;
@model CarBookingViewModel
<link href="~/Content/BookingDetailsStyle.css" rel="stylesheet" />
<div class="car-booking-details container-fluid">
    <div class="book-car-data col-lg-8 col-md-8 col-sm-7 col-xs-12 clear-padding">
        <div class="book-car-img-div col-lg-4 col-md-5 col-sm-4 col-sm-offset-0 col-xs-4 col-xs-offset-4 clear-padding">
            <img src="@Model.CarPath" class="book-car-img" />
        </div>
        <div class="book-car-show-data col-lg-8 col-md-7 col-sm-8 col-sm-offset-0 col-xs-4 col-xs-offset-4 clear-padding">
            <div class="book-car-brand"> @Model.BrandName </div>
            <div class="book-car-model"> @Model.CarName </div>
            <div class="book-car-location"> @Model.LocationName </div>
        </div>
        <div class="book-car-user-data col-lg-8 col-md-7 col-sm-8 col-sm-offset-0 col-xs-12 clear-padding">
            <div class="book-car-timming col-xs-12 clear-padding">
                <div class="book-car-date-from col-xs-5"> @Model.From </div>
                <div class="book-car-to col-xs-2">- TO -</div>
                <div class="book-car-date-to col-xs-5"> @Model.To </div>
            </div>
            <div class="book-car-price col-xs-12 clear-padding"><span class="fa fa-rupee"></span> @Model.CarPrice.ToString("#.##") </div>
        </div>
        <div class="book-user-data col-lg-6 col-lg-offset-3 col-md-6 col-md-offsset-3 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 clear-padding">
            <div class="book-user-head col-xs-12 clear-padding"> RIDE STATUS </div>
            <div class="form-control col-xs-6">
                <input type="text" class="user-input" />
                <label class="user-label">Phone No</label>
            </div>
            <div class="form-control col-xs-6">
                <input type="text" class="user-input" />
                <label class="user-label">OTP</label>
            </div>
        </div>
    </div>
    <div class="aside-pricing-tab col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="pricing-structure col-xs-12 clear-padding">
            <div class="pricing-structure-head col-xs-12 clear-padding"> Our Pricing Structure </div>
            <div class="pricing-structure-data col-xs-12 clear-padding">
                <div class="price car-price-structure col-xs-12 clear-padding">
                    <div class="hourly-price-tag col-xs-6"> Hourly Price </div>
                    <div class="amount hourly-payment-price col-xs-6"><span class="fa fa-rupee"></span> @Model.HourlyPrice.ToString("#.##") </div>
                </div>
                <div class="price book-tax col-xs-12  clear-padding">
                    <div class="daily-price-tag col-xs-6"> Daily Price </div>
                    <div class="amount daily-payment-price col-xs-6"><span class="fa fa-rupee"></span> @Model.DailyPrice.ToString("#.##") </div>
                </div>
            </div>
        </div>
        <div class="book-car-payment-data col-xs-12 clear-padding">
            <div class="book-payment-head col-xs-12 clear-padding"> BILL STATUS </div>
            <div class="total-journey-time col-xs-12 clear-padding">( @Model.Day day @Model.Hour hr )</div>
            <div class="book-payment-data col-xs-12 clear-padding">
                <div class="price book-price col-xs-12 clear-padding">
                    <div class="book-payment-price-tag col-xs-6"> Ride Price </div>
                    <div class="amount book-payment-price col-xs-6"><span class="fa fa-rupee"></span> @Model.CarPrice.ToString("#.##") </div>
                </div>
                <div class="price book-tax col-xs-12  clear-padding">
                    <div class="book-payment-price-tag col-xs-6"> Tax </div>
                    <div class="amount book-payment-price col-xs-6"><span class="fa fa-rupee"></span> @Model.Tax.ToString("#.##") </div>
                </div>
                <div class="price total-price col-xs-12 clear-padding">
                    <div class="book-payment-price-tag col-xs-6"> Net Amount </div>
                    <div class="amount book-payment-price col-xs-6"><span class="fa fa-rupee"></span> @Model.NetAmount.ToString("#.##") </div>
                </div>
            </div>
            <div class="checkout col-xs-12">
                <button class="checkout-btn" check-id="@Model.SitePickUpId">CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/BookingDetailsScript.js"></script>