﻿@using DriveHappy.Data.ViewModel;
@model List<CarViewModel>

<div class="add-car-details col-xs-12 clear-padding">
    <button class="car-add-btn"><span class="fa fa-plus"></span></button>
    @if (Model.Count > 0)
    {
        Model.Reverse();
        foreach (var car in Model)
        {
            @Html.Partial("_CarCardView", car)
        }
    }
    else
    {
        @Html.Partial("_NoCarAdded");
    }
</div>
<div class="overlay-add-car container-fluid clear-padding">

</div>
<script src="~/Scripts/AddCarScript.js"></script>