﻿@*@model DriveHappy.Service.ViewModel.LookUpViewModel
*@

<div class="add-car-data col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 clear-padding">
    <div class="close-car-add"><span>&times;</span></div>
    <div class="add-car-head col-xs-12 clear-padding">
        <div class="overlay overlay-full">
            <div class="upload-ico col-xs-4 col-xs-offset-4">
                <form id="imageUpload" enctype="multipart/form-data">
                    <input type="file" id="car-pic" class="car-pic" name="CarImage" />
                    <button class="upload-car-pic"><span class="fa fa-upload"></span></button>
                </form>
            </div>
            <div class="car-image-left col-xs-12">
                <div class="form-control add-car-brand col-xs-6 clear-padding">
                    <input class="input-car-brand input-text" id="input-car-brand" type="text" />
                    <label class="label">Brand</label>
                    <div class="car-brand-hint-div" id="car-brand-hint-div"></div>
                </div>
                <div class="form-control add-car-seater col-xs-4 col-xs-offset-2 clear-padding">
                    <input class="input-car-seater input-text" id="input-car-seater" type="text" />
                    <label class="label">Seater</label>
                    <div class="car-seater-hint-div"></div>
                </div>
                <div class="form-control add-car-name col-xs-12 col-sm-8 clear-padding">
                    <input class="input-car-name input-text" id="input-car-name" type="text" />
                    <label class="label">Model</label>
                    <div class="car-name-hint-div"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-car-body col-xs-12">
        <div class="ErrorCarAddition col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 clear-padding" id="ErrorCarAddition"></div>
        <div class="form-control add-car-fuel col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 clear-padding">
            <input class="input-car-fuel input-text" id="input-car-fuel" type="text" />
            <label class="body-label">Fuel</label>
            <div class="car-fuel-hint-div"></div>
        </div>
        <div class="form-control add-car-transmission col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 clear-padding">
            <input class="input-car-transmission input-text" id="input-car-transmission" type="text" />
            <label class="body-label">Transmission</label>
            <div class="car-transmission-hint-div"></div>
        </div>
        <div class="form-control add-car-category col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 clear-padding">
            <input class="input-car-category input-text" id="input-car-category" type="text" />
            <label class="body-label">Category</label>
            <div class="car-category-hint-div"></div>
        </div>
    </div>
    <div class="add-car-footer col-xs-12">
        <div class="add-car-submit col-xs-4 col-xs-offset-4 clear-padding">
            <button class="add-car-save" id="add-car-save" call-url='@Url.Action("DoAddCarInput", "Admin")'><span class="fa fa-check"></span></button>
        </div>
    </div>
</div>
<script src="~/Scripts/AddCarInputScript.js"></script>