﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@

<div class="appdata-tab-partial-view">
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="role" id="role">
            <figure class="role-content">
                <div class="img-application-data"> <img src="~/Content/AdminImage/people.png" alt="Role-img"> </div>
                <figcaption>ROLES</figcaption>
            </figure>
        </div>
    </div>
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="location" id="location">
            <figure class="location-content">
                <div class="img-application-data"> <img src="~/Content/AdminImage/map.png" alt="Location-img"> </div>
                <figcaption>LOCATION</figcaption>
            </figure>
        </div>
    </div>
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="car-meta" id="car-meta">
            <figure class="car-meta-content">
                <div class="img-application-data"> <img src="~/Content/AdminImage/car.png" alt="car-meta-img"> </div>
                <figcaption>CAR META</figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="role-partial-view">
    <div class="col-xs-12 role-partial-view" id="role-partial-view">

    </div>
</div>

<div class="location-view">
    <div class="col-xs-12 location-partial-view" id="location-partial-view">

    </div>
</div>

<div class="car-partial-view">
    <div class="col-xs-12 car-meta-partial-view" id="car-meta-partial-view">
        @{
            Html.RenderPartial("_CarMeta");
        }
    </div>
</div>
<script src="~/Scripts/AppDataScript.js"></script>