﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@
<div class="select-option">
    <ul class="choice col-xs-12">
        <li class="list-view col-lg-3 col-md-3 col-sm-3 col-xs-12" id="category">Category</li>
        <li class="list-view col-lg-3 col-md-3 col-sm-3 col-xs-12" id="fuel">Fuel</li>
        <li class="list-view col-lg-3 col-md-3 col-sm-3 col-xs-12" id="seater">Seater</li>
        <li class="list-view col-lg-3 col-md-3 col-sm-3 col-xs-12" id="transmission">Transmission</li>
    </ul>
</div>
<div class="car-meta-category-content col-xs-12 clear-padding">
    <div class="car-meta-head col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <span class="car-meta-head-content">ENTER CATEGORIES OF CAR</span>
    </div>
    <div class="car-meta-input col-xs-10 col-sm-7 col-sm-offset-2 col-md-5 col-md-offset-3 clear-padding">
        <input type="text" class="add-category" name="category" id="add-category">
    </div>
    <div class="car-meta-add-ico col-xs-2 col-sm-1 clear-padding">
        <button class="add-button" id="add-button"> <span class="fa fa-plus"></span> </button>
    </div>
</div>
<div class="car-meta-input-content col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding" id="car-meta-input-content"> </div>
<div class="CarMetaErrorMessage col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding" id="CarMetaErrorMessage"></div>
<div class="save-btn col-xs-12 col-sm-1 col-sm-offset-9 col-md-1 col-md-offset-8 clear-padding">
    <button class="save-btn-content" id="save-btn-content">Save</button>
</div>
<script src="~/Scripts/CarMetaScript.js"></script>