﻿@model DriveHappy.Data.ViewModel.CarVerificationViewModel
<div class="car-card-view car-card-verify col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="wrapper">
        <div class="close-container">
            <span class="close-ico">&times</span>
        </div>
        <div class="car-card-view-head-owner container-fluid" style="background-image:url(@Model.CarPath)">
            <div class="overlay-card-view-head col-xs-12 clear-padding">
                <div class="car-card-view-head-content-owner col-xs-12">
                    <div class="col-xs-4 clear-padding">
                        <small class="car-card-model car-card-content">@Model.CarName.ToUpper()</small>
                    </div>
                    <div class="car-card-seater-wrapper col-xs-6 col-xs-offset-2 clear-padding">
                        <div class="car-card-date-div">
                            <small class="car-card-date car-card-content">@Model.AddedOn.Day/@Model.AddedOn.Month/@Model.AddedOn.Year</small>
                        </div>
                    </div>
                    <div class="brand-name col-xs-4 clear-padding">
                        <small class="car-card-brand car-card-content">@Model.BrandName.ToUpper()</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="car-card-view-body container-fluid">
            <div class="car-card-body-content col-xs-12 clear-padding">
                <small class="car-card-username car-card-body-input-content">@Model.Username.ToUpper()</small>
            </div>
            <div class="car-card-body-content col-xs-12 clear-padding">
                <small class="car-card-email car-card-body-input-content">@Model.Email.ToUpper()</small>
            </div>
            <div class="car-card-body-content col-xs-5 clear-padding">
                <small class="car-card-brand car-card-body-input-content">@Model.AvailableFrom</small>
            </div>
            <div class="car-card-body-content col-xs-2 clear-padding">
                <small class="car-card-brand car-card-body-input-content">-TO-</small>
            </div>
            <div class="car-card-body-content col-xs-5 clear-padding">
                <small class="car-card-brand car-card-body-input-content">@Model.AvailableTo</small>
            </div>
            <div class="car-card-body-content col-xs-12 clear-padding">
                <small class="car-card-brand car-card-body-input-content">@Model.HourlyPrice.ToString("#")/@Model.DailyPrice.ToString("#")/@Model.SplDayPrice.ToString("#")</small>
            </div>
        </div>
        <div class="car-card-footer container-fluid clear-padding">
            <div class="footer-verify col-xs-6 clear-padding">
                <small class="car-card-verify">Verify</small>
            </div>
            <div class="footer-reject col-xs-6 clear-padding">
                <small class="car-card-reject">Reject</small>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CarVerificationScript.js"></script>