﻿@using DriveHappy.Data.ViewModel;
@model List<AdminCarDataViewModel>
<table class="table table-stripped table-bordered table-hover">
    <thead class="car-head">
        <tr>
            <th>Car Name</th>
            <th>Owner</th>
            <th>City</th>
            <th>Added On</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AdminCarDataViewModel carData in Model)
        { 
            <tr id="@carData.OwnerCarId" class="car-data-tr" verify-status="@carData.Verified">
                <td>@carData.CarName</td>
                <td>@carData.Username</td>
                <td>@carData.CityName</td>
                <td>@carData.AddedOn</td>
            </tr>
        }
    </tbody>
</table>
<div class="car-page">
    <span class="car-page-no">Page: <input type="text" placeholder="1" class="car-start-page" id="car-start-page" value="@ViewBag.StartPage"/>&nbsp;/&nbsp;<span class="car-end-page">@ViewBag.EndPage</span></span>
    <button class="car-page-previous"><span class="fa fa-angle-left"></span></button>
    <button class="car-page-next"><span class="fa fa-angle-right"></span></button>
</div>
<div class="overlay-verify-car">

</div>
<script src="~/Scripts/CarViewScript.js"></script>