﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@
<table class="table table-striped table-bordered table-hover">
    <thead class="city-head">
        <tr>
            <th>City Name</th>
            <th>Operating Owners</th>
            <th>Operating Cars</th>
            <th>Delivery Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
        <tr>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
            <td>some data</td>
        </tr>
    </tbody>
</table>