﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@
<div class="row">
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="city" id="city">
            <div class="city-count col-xs-5 col-lg-4">382</div>
            <div class="city-name col-xs-7 col-lg-8">Cities</div>
        </div>
    </div>
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="car" id="car">
            <div class="car-count col-xs-5 col-lg-4">128</div>
            <div class="car-name col-xs-7 col-lg-8">Car Request</div>
        </div>
    </div>
    <div class="pellet-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="owner" id="owner">
            <div class="owner-count col-xs-5 col-lg-4">221</div>
            <div class="owner-name col-xs-7 col-lg-8"><span>Verify</span>&nbsp<span>Owner</span></div>
        </div>
    </div>
    <div class="table-view city-view table-responsive col-xs-12 clear-padding" id="city-view">
        @{
            Html.RenderPartial("_CityView", "Admin");
        }
    </div>
    <div class="table-view car-view table-responsive col-xs-12 clear-padding" id="car-view">
        
    </div>
    <div class="table-view owner-view table-responsive col-xs-12 clear-padding" id="owner-view">
        
    </div>
</div>