﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@
<div class="location-add col-xs-12 clear-padding">
    <div class="location-content col-xs-12 clear-padding">
        <div class="location-head location-first-head col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> <span class="location-heading-content">ENTER CITY</span> </div>
        <div class="location-input col-xs-10 col-sm-7 col-sm-offset-2 col-md-5 col-md-offset-3 clear-padding">
            <input type="text" class="location-input-dropdown" name="category" id="location-input-dropdown">
        </div>
        <div class="location-dropdown-ico col-xs-2 col-sm-1 clear-padding">
            <button class="location-dropdown-button" id="location-dropdown-button"> <span class="fa  fa-chevron-down"></span> </button>
        </div>
        <div class="location-hint col-xs-10 col-sm-7 col-sm-offset-2 col-md-5 col-md-offset-3 clear-padding">
            <ul class="location-hint-content">
                
            </ul>
        </div>
        <div class="location-hidden-content col-xs-12 clear-padding">
            <div class="location-head col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> <span class="location-head-content"></span> </div>
            <div class="location-input col-xs-10 col-sm-7 col-sm-offset-2 col-md-5 col-md-offset-3 clear-padding">
                <input type="text" class="location-add-category" name="category" id="location-add-category">
            </div>
            <div class="location-add-ico col-xs-2 col-sm-1 clear-padding">
                <button class="location-add-button" id="location-add-button"> <span class="fa  fa-plus"></span> </button>
            </div>
            <div class="location-input-content col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding" id="location-input-content"> </div>
            <div class="ErrorLocationMessage  col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding" id="ErrorLocationMessage"></div>
            <div class="location-save-btn col-xs-12 col-sm-1 col-sm-offset-9 col-md-1 col-md-offset-8 clear-padding">
                <button class="location-save-btn-content" id="location-save-btn-content">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/LocationScript.js"></script>