﻿@using DriveHappy.Data.ViewModel;
@model List<AdminOwnerDataViewModel>
<table class="table-bordered table-hover table table-stripped">
    <thead class="owner-head">
        <tr>
            <th>Owner Name</th>
            <th>City</th>
            <th>Added On</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AdminOwnerDataViewModel ownerData in Model)
        {
            <tr>
                <td>@ownerData.Username</td>
                <td>@ownerData.CityName</td>
                <td>@ownerData.CreatedOn</td>
                <td>@ownerData.Email</td>
            </tr>
        }
    </tbody>
</table>