﻿@*@model DriveHappy.Service.ViewModel.LoginViewModel
*@
<div class="role-add col-xs-12 clear-padding">
    <div class="role-content col-xs-12 clear-padding">
        <div class="role-head col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <span class="role-head-content">ENTER USER ROLES OF CAR</span>
        </div>
        <div class="role-input col-xs-10 col-sm-7 col-sm-offset-2 col-md-5 col-md-offset-3 clear-padding">
            <input type="text" class="role-add-category" name="category" id="role-add-category">
        </div>
        <div class="role-add-ico col-xs-2 col-sm-1 clear-padding">
            <button class="role-add-button" id="role-add-button"> <span class="fa fa-plus"></span> </button>
        </div>
    </div>
    <div class="role-input-content col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding" id="role-input-content"> </div>
    <div id="RoleErrorMessage" class="RoleErrorMessage col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 clear-padding"></div>
    <div class="save-btn col-xs-12 col-sm-1 col-sm-offset-9 col-md-1 col-md-offset-8 clear-padding">
        <button class="role-save-btn-content" id="role-save-btn-content">Save</button>
    </div>
</div>
<script src="~/Scripts/RoleScript.js"></script>