﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminStyle.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <title> Admin Home </title>
</head>

<body onload="InitAdmin()">
    <div class="container-fluid">
        <div class="row">
            <header>
                <div class="content col-xs-12 col-sm-4 col-md-3">
                    <div class="row">
                        <div class="content-profile">
                            <div class="profile-overlay">
                                <button class="side-bar-toggle" id="side-bar-toggle"> <span class="fa fa-bars"></span> </button>
                                <div class="pic" id="pic">
                                    <div class="pic-overlay" id="pic-overlay">
                                        <button class="upload-pic" id="upload-pic"> <span class="fa fa-upload"></span> </button>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="info">
                                        <button class="info-button"><span class="fa  fa-edit"></span></button>
                                    </div>
                                    <div class="logout">
                                        <button class="logout-button" id="logout-button" onclick="logout()"><span class="fa fa-sign-out"></span></button>
                                    </div>
                                </div>
                                <div class="user-name">Hello, @User.Identity.Name</div>
                            </div>
                        </div>
                        <div class="function-data" id="function-data">
                            <ul class="admin-function">
                                <li class="function" id="home">Home</li>
                                <li class="function" id="application-data">Application Data</li>
                                <li class="function" id="add-car">Add Car</li>
                                <li class="function" id="booking">Bookings</li>
                                <li class="function" id="transaction">Transactions</li>
                                <li class="function" id="span">Spam</li>
                            </ul>
                            <div class="footer-content">&copy; Manoj</div>
                        </div>
                    </div>
                </div>
            </header>
            <section>
                <div class="right-content col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
                    <div class="row">
                        <div class="admin-search col-xs-12 clear-padding">
                            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                                <div class="col-xs-9 col-md-10 clear-padding">
                                    <input type="text" class="search-box">
                                </div>
                                <div class="col-xs-3 col-md-2 clear-padding">
                                    <button><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-partial-view right-content col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3" id="full-partial-view">
                    @{
                        Html.RenderPartial("_HomeView");
                    }
                </div>
                
            </section>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/AdminScript.js"></script>
</body>

</html>